
.imgList:hover .imgBack{
    visibility: visible;
}

.imgBack {
    display: flex;
    position: absolute;
    background-color: black;
    color: #2b2a2a;
    top: 0%;
    left: 0%;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: .8;
    visibility: hidden;

}

body{
    background: #f9f9f9;
    font-size: 16px;
    font-family: 'Raleway', sans-serif
}


.navbar-brand {
    color: #2b2a2a !important;
}

.nav-link {
    color: #2b2a2a !important;
}

.title{
    color: #2b2a2a;
    text-align: center;
    margin-bottom: 10px;
}

.content{
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay{
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay{
    opacity: 1;
}

.content-image{
    width: 100%;
    height: 400px;
}

img{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.content-details{
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
    color: #ffffff;
}

.content-details h3{
    color: #2b2a2a;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p{
    color: #2b2a2a;
    font-size: 0.8em
}

.fadeIn-bottom{
    top: 80%
}